@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --color-principal: #0250b6;
    --color-principal-light: #9eb0ff;
    --color-white: #ececec;
    --color-gray: #e2e2e2;
    --color-red: #a01010;
}

::selection {
    color: #00e279;
    background: rgba(37, 36, 36, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", "sans-serif";
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.disabled {
    display: none;
}

/*CONTAINER*/
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--color-principal);
}

/*ASIDE*/
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    color: var(--color-white);
    padding: 2rem;
    padding-right: 0;
    height: 100vh;
    top: 0;
}

/*ASIDE__LOGO*/

.logo {
    display: inline-block;
    color: var(--color-white);
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 3.5em;
}

.logo__text {
    font-weight: 400;
    font-size: 1.5em;
}

/*NAV*/
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.button-menu {
    background-color: transparent;
    border: 0;
    color: var(--color-white);
    font-size: 1.1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.1em;
    font-weight: 600;
    padding: 1em;
}

.button-menu.active {
    background-color: var(--color-white);
    color: var(--color-principal);
    width: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    position: relative;
}

.button-menu.active::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 3rem;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 1em 0 var(--color-white);
}

.button-menu.active::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 3rem;
    background-color: transparent;
    top: 100%;
    right: 0;
    border-top-right-radius: 0.5em;
    box-shadow: 0 -1em 0 var(--color-white);
}

.fa-hand-point-up {
    transform: rotateZ(90deg);
}

.nav-menu__cart {
    margin-top: 2em;
}

.cart-number {
    background-color: var(--color-white);
    color: var(--color-principal);
    padding: 0.1em 0.25em;
    border-radius: 0.25em;
}

.nav-menu__cart.active .cart-number {
    background-color: var(--color-principal);
    color: var(--color-white);
}

/*FOOTER*/
footer {
    display: flex;
    align-items: center;
}

.footer__txt {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: var(--color-principal-light);
}

/*FOOTER__HEART*/
.love {
    padding: 0 0.4rem;
    animation: 1.5s heartThrob infinite;
}
.love svg {
    height: 1.5rem;
}

@keyframes heartThrob {
    10% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.15);
    }
    60% {
        transform: scale(1);
    }
}

/*FOOTER__LINK*/
footer a {
    position: relative;
    color: #54ff60;
}

footer a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #54ff60;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

footer a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*MAIN*/
main {
    background-color: var(--color-white);
    margin: 1em;
    margin-left: 0;
    border-radius: 2em;
    padding: 3em;
}

.principal-title {
    color: var(--color-principal);
    margin-bottom: 2em;
}

/*CART*/
.cart-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/*CART EMPTY*/
.cart-empty,
.cart-buyed {
    color: var(--color-principal);
}

/*CART PRODUCTS*/
.cart-products {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cart-products__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray);
    color: var(--color-principal);
    padding: 0.5em;
    padding-right: 1.5em;
    border-radius: 1em;
}

.cart-products__product__img {
    width: 10em;
    border-radius: 1em;
}

.cart-products__product small {
    font-size: 0.8em;
}

.cart-products__product__delete {
    border: 0;
    background-color: transparent;
    color: var(--color-red);
    cursor: pointer;
}

/*CART-ACTIONS*/
.cart-actions {
    display: flex;
    justify-content: space-between;
}

.cart-actions__left__delete-cart {
    border: 0;
    background-color: var(--color-gray);
    padding: 1em;
    border-radius: 1em;
    color: var(--color-principal);
    text-transform: uppercase;
    cursor: pointer;
}

.cart-actions__right {
    display: flex;
}

.cart-actions__right__total {
    display: flex;
    background-color: var(--color-gray);
    padding: 1em;
    border-radius: 1em 0 0 1em;
    color: var(--color-principal);
    text-transform: uppercase;
    gap: 1em;
}

.cart-actions__right__buy {
    border: 0;
    background-color: var(--color-principal);
    padding: 1em;
    border-radius: 0 1em 1em 0;
    color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
}
